{{ define "Delete" }}

  {{ template "Header" "Delete user" }}

    {{ template "Menu" "delete" }}

    <main class="col-sm-12" style="margin-top: 80px;">
      <h2>Delete employees</h2>
      <div class="table-responsive">
          <table class="table">
            <thead>
              <tr>
                <th style="width: 60px;">#</th>
                <th class="text-center">Name</th>
                <th class="text-center">Position</th>
                <th style="width: 122px"></th>
              </tr>
            </thead>
            <tbody>
            {{ range . }}
                <tr>
                  <td style="width: 60px">{{ .ID }} <input type="hidden" class="id" name="id" value="{{ .ID }}"></td>
                  <td>{{ .Username }}</td>
                  <td>{{ .Position }}</td>
                  <td style="width: 122px"><button type="button" class="delete btn btn-danger">Delete user</button></td>
                </tr>
            {{ end }}
            </tbody>
          </table>
      </div>
    </main>

    <script>
      document.addEventListener('DOMContentLoaded', () => {

        $('.delete').click(function(e) {
          const parent = $(this).parents('tr');
          sendData(parent);
          $(parent).hide();
        });

        const sendData = function(parent) {
          fetch('/delete', {
              method: 'delete',
              body: JSON.stringify({
                id: parent.find('.id').val()
              })
            }).then(data => data.json())
            .then(response => {
              alert(`Delete: ID - ${response.id}. Username - ${response.position}. Position - ${response.position}`)
            })
        }

      });
    </script>

    {{ template "Modal" }}

  {{ template "Footer"  }}

{{ end }}
