{{ define "Index" }}

  {{ template "Header" "All users" }}

    {{ template "Menu" "read" }}

    <main class="col-sm-12" style="margin-top: 80px;">
      <h2>Employees</h2>
      <div class="table-responsive">
        <table class="table">
          <thead>
            <tr>
              <th>#</th>
              <th>Name</th>
              <th>Position</th>
            </tr>
          </thead>
          <tbody class="employees">

          </tbody>
        </table>
      </div>
    </main>

    <script>

        document.addEventListener('DOMContentLoaded', () => {
          fetch('/list', {
            method: 'get'
          }).then(data => data.json())
            .then(response => {
              renderData(response)
            })
        });

    </script>

    {{ template "Modal" }}

  {{ template "Footer"  }}

{{ end }}
