{{ define "Update" }} {{ template "Header" "Update user" }} {{ template "Menu" "update" }}

<style>
  .table {
    table-layout: fixed;
  }

  .table .btn {
    display: inline-block;
    width: 150px;
  }
</style>

<main class="col-sm-12" style="margin-top: 80px;">
  <h2>Update employees</h2>
  <div class="table-responsive">
    <table class="table">
      <thead>
        <tr>
          <th>#</th>
          <th>Name</th>
          <th>Position</th>
          <th></th>
        </tr>
      </thead>
      <tbody class="employees">
        {{ range . }}
        <tr>
          <td class="id">{{ .ID }}</td>
          <td class="username">{{ .Username }}</td>
          <td class="position">{{ .Position }}</td>
          <td class="text-right">
            <button type="button" class="update btn btn-primary">Update user</button>
            <button type="button" class="save btn btn-success d-none">Save update</button>
          </td>
        </tr>
        {{ end }}
      </tbody>
    </table>
  </div>
</main>


<script>
  document.addEventListener('DOMContentLoaded', () => {

    $('.update').click(function(e) {
      const parent = $(this).parents('tr');
      $(this).addClass('d-none');
      $(this).next().removeClass('d-none');
      $(parent).find('.id, .username, .position').attr("contenteditable", "true")
    });

    $('.save').click(function(e) {
      const parent = $(this).parents('tr');
      $(this).addClass('d-none');
      $(this).prev().removeClass('d-none');
      $(parent).find('.id, .username, .position').attr("contenteditable", "false");
      sendData(parent)
    })

    const sendData = function(parent) {
      fetch('/update', {
          method: 'put',
          body: JSON.stringify({
            id: parent.find('.id').text(),
            username: parent.find('.username').text(),
            position: parent.find('.position').text(),
          })
        })
    }

  });
</script>

{{ template "Modal" }} {{ template "Footer" }} {{ end }}
